[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[c2798abe-5c1c-4e47-8427-fcbf7b7aad5e]
row=0
col=0

[744c67c8-25d5-43ef-af79-2fcccbdd0377]
row=1
col=0

[/]
row=2
col=0

[/home/mohamed]
row=3
col=0

